[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
homeassistant = "2025.11.3"
httpx = "0.28.1"
aiohttp = "3.13.2"
PyYAML = "6.0.3"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
